<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>
    <link rel="stylesheet" href="../static/css/game.css">
</head>
<body>
    <div class="question">
        <p>{{ .question }}</p>
    </div>
    
    <div class="answers">
        <div class="answer-option" id="answer1">{{ .answer1 }}</div>
        <div class="answer-option" id="answer2">{{ .answer2 }}</div>
        <div class="answer-option" id="answer3">{{ .answer3 }}</div>
        <div class="answer-option" id="answer4">{{ .answer4 }}</div>
    </div>

    <section class="valid-answer">
        <button id="valid-answer-button">Confirmer</button>
    </section>

    <div id="textField" style="display: none;">
        La réponse de la question étais: {{ .correctAnswer }}
    </div>

    <script>
        const parentElement = document.querySelector('.answers');
        const answerElements = parentElement.querySelectorAll('.answer-option');
        let answerID = "";

        answerElements.forEach(function(element) {
            element.addEventListener('click', function() {
                if (this.id && this.id.startsWith('answer')) {
                    answerElements.forEach(function(otherElement) {
                        if (otherElement !== element && otherElement.style.borderColor === 'green') {
                            otherElement.style.borderColor = ''; // reset border
                        }
                    });
                    this.style.borderColor = 'green';
                    answerID = this.id
                }
            });
        });
    </script>

    <script>
        const sendAnswer = document.getElementById('valid-answer-button');

        sendAnswer.addEventListener('click', function() {
            var answer = document.getElementById('textField')
            answer.style.display = "block";
        });
        
    </script>

</body>
</html>
